---
---

@import "{{ site.theme }}";

.main-content {
  h1 {
   color: #ff0000;
 }
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #616161;
    background-image: linear-gradient(360deg, #000000, #ffb85a);
}

.main-content img {
    max-width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
    margin-bottom: 2.0rem;
}

.main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
    background-color: #030201;
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #ffffff;
}

.site-footer {
    font-size: 0.5rem;
    text-align: center;
}

.links {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid white;
    border-width: 1px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

element.style {
    margin: auto;
    padding-top: 0.5rem;
}

button {
  position: relative
  outline: none
  text-decoration: none
  border-radius: 50px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  text-transform: uppercase
  height: 60px
  width: 210px
  opacity: 1
  background-color: #ffffff
  border: 1px solid rgba(22, 76, 167, 0.6)
  span
      color: rgba(22, 76, 167, 1)
      font-size: 12px
      font-weight: 500
      letter-spacing: 0.7px
  &:hover 
      animation: rotate 0.7s ease-in-out both
      span
          animation: storm 0.7s ease-in-out both
          animation-delay: 0.06s
}
    
@keyframes rotate {
    0%
        transform: rotate(0deg) translate3d(0, 0, 0)
    25%
        transform: rotate(3deg) translate3d(0, 0, 0)
    50%
        transform: rotate(-3deg) translate3d(0, 0, 0)
    75%
        transform: rotate(1deg) translate3d(0, 0, 0)
    100%
        transform: rotate(0deg) translate3d(0, 0, 0)
}

@keyframes storm {
    0%
        transform: translate3d( 0, 0, 0) translateZ(0)
    25%
        transform: translate3d( 4px, 0, 0) translateZ(0)
    50%
        transform: translate3d( -3px, 0, 0) translateZ(0)
    75%
        transform: translate3d( 2px, 0, 0) translateZ(0)
    100%
        transform: translate3d( 0, 0, 0) translateZ(0)
}
