<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.scss">
  <title>emnodabod</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
</head>
<div class="outer">
  <div class="middle">
    <div class="inner">
      <body>
        <img src="https://pbs.twimg.com/profile_images/1507771672820006914/hLVXmrh3_400x400.jpg" alt="profile picture" class="profile-picture">
        <div class="profile-name">emnodabod</div>
        <a href=https://twitter.com/artgenerator42 class="links">twitter</a>
        <a href=https://opensea.io/collection/xing-shi class="links">Opensea</a>
	<a href=https://objkt.com/collection/KT1XPpo5MwN2P7tdV7q7v7T3muanTmeYF9qa class="links">objkt</a>
	<footer class="site-footer">
            &copy; 2022 emnodabod
        </footer>
      </body>
    </div>
  </div>
</div>
</html>
